---
---
@import "{{ site.theme }}";

body {
  background-image: url('https://github.com/ScatteredInt/ScatteredInt.github.io/blob/main/Untitled%20design.jpg?raw=true');
  background-size: cover; /* or other values like 100% or contain */
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional, for a fixed background */
}
